.headerContainer {
  display: flex;
  margin: 12px auto;
  gap: 12px;
  background-color: var(--headerBackground);
  padding: 6px;
  border-radius: 100px;
  color: var(--text);
  border: 1px solid var(--headerBorderColor);
  align-items: center;
  overflow-x: hidden;
  font-size: 1rem;
}

.headerItem {
  font-weight: 400;
  padding: 6px 18px;
  cursor: pointer;
  transition: font-weight 0.3s ease-in;
}

.headerItemSelected {
  font-weight: 600;
  background-color: var(--headerBackgroundActive);
  padding: 6px 18px;
  border-radius: 100px;
  transition: font-weight 0.3s ease-out;
  cursor: pointer;
}

@media only screen and (max-width: 516px) {
  .headerContainer {
    gap: 2px;
    font-size: 0.9rem;
  }
  .headerItem {
    padding: 6px 19px;
  }
}

@media only screen and (max-width: 450px) {
  .headerContainer {
    gap: 2px;
    font-size: 0.8rem;
  }
  .headerItem {
    padding: 6px 10px;
  }
}
