.heroContainer {
  display: flex;
  margin: 5rem auto auto auto;
  max-width: 1060px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
  padding-bottom: 4rem;
}

.heroTopTitle {
  font-size: 1.6rem;
  color: var(--accent);
  font-weight: 500;
}

.heroEmoji {
  font-size: 2rem;
}

.heroTitle {
  font-size: 3rem;
  font-weight: bold;
  line-height: normal;
  margin: 1rem 0rem;
}

.heroSubtitle {
  font-size: 1.6rem;
  color: var(--text-muted);
  margin: 1rem 0rem;
  font-weight: 500;
}

.heroInfo {
  font-size: 1rem;
  color: var(--text-muted);
  font-weight: 400;
  margin: 1.5rem 0rem;
}

.heroButtons {
  display: flex;
  gap: 1.5rem;
}

.heroImage img {
  border-radius: 100%;
  width: 280px;
  height: 280px;
  object-fit: cover;
  box-shadow:
    0 8px 18px
      color-mix(in srgb, var(--headerBackgroundActive) 25%, transparent),
    0 2px 6px rgb(0 0 0 / 0.2);
  margin-right: 1rem;
}

@media only screen and (max-width: 874px) {
  .heroContainer {
  }
}
