.experienceItemContainer {
  display: flex;
  flex-direction: column;
  max-width: 1060px;
  width: 100%;
  padding: 1.5rem 1rem 1rem 0.5rem;
}

.experienceItemHeader {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.experienceItemMain {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.experienceItemContainer.work:not(:last-child) .experienceItemMain {
  border-bottom: 1px solid var(--border-bright);
  padding-bottom: 1rem;
}

.experienceItemContainer.education:not(:last-child) {
  border-bottom: 1px solid var(--border-bright);
  padding-bottom: 1rem;
}

.experienceItemInfo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0rem 1rem;
}

.experienceItemTitles h3 {
  font-weight: bold;
  font-size: 1.2rem;
}

.experienceItemTitles h4 {
  font-size: 1rem;
}

.experienceItemDate {
  font-size: 0.9rem;
  color: var(--text-muted);
  margin: 0rem 1rem;
  font-family: "Jetbrains Mono";
}

.experienceItemImage img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin: 0rem 0.5rem;
  position: relative;
  z-index: 1;
  margin-top: 5px;
  box-shadow:
    0 8px 18px
      color-mix(in srgb, var(--headerBackgroundActive) 25%, transparent),
    0 2px 6px rgb(0 0 0 / 0.2);
}

.experienceItemDescription {
  margin: 0.5rem 1rem;
  color: var(--text-muted);
  font-size: 0.9rem;
}
