@import "tailwindcss";

:root {
  --background: #f7f6f1;
  --foreground: #0a0a0a;
  --headerBackground: #eeecea;
  --headerBackgroundActive: #fff;
  --headerBorderColor: #e1dfdd;
  --text: #2b2b32;
  --accent: #7046cf;
  --text-muted: #a4a4ab;
}

[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
  --headerBackground: #16161a;
  --headerBackgroundActive: #202125;
  --headerBorderColor: #2b2b2e;
  --text: #f1f1f4;
  --accent: #a58cfc;
  --text-muted: #a4a4ab;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden !important;
  transition: all 0.15s ease-in;
}
