@import "tailwindcss";

:root {
  --background: #ededed;
  --foreground: #0a0a0a;
  --headerBackground: #eeecea;
  --headerBackgroundActive: #fff;
  --headerBorderColor: #e1dfdd;
  --text: #2b2b32;
}

[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
  --headerBackground: #16161a;
  --headerBackgroundActive: #191a1f;
  --headerBorderColor: #2b2b2e;
  --text: #f1f1f4;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden !important;
  transition: all 0.15s ease-in;
}
